<html lang="en"
      xmlns:th="http://www.thymeleaf.org/extras/spring-security"
>
<head th:replace="fragments/header::head"></head>
<body>
<header th:replace="fragments/header::header"></header>
<div class="container">
    <div class="row">
        <div class="offset-md-2 col-md-8 com-sm-12 mb-5">
            <h2 class="heading-margin" text-center="" th:text="#{header_add_part_label}"></h2>
            <form method="post" action="/parts/addPart" th:object="${addPartDTO}">
                <div class="form-group">
                    <label th:text="#{account_admin_name}"></label>
                    <input th:field="*{name}" th:errorclass="'is-invalid bg-danger'"
                           type="text" class="form-control" id="name" name="name">
                    <small th:if="${#fields.hasErrors('name')}" th:errors="*{name}" class="text-danger">Name error
                        message</small>
                </div>
                <div class="form-group">
                    <label th:text="#{add_make_page_imageURL}"></label>
                    <input th:field="*{imageUrl}" th:errorclass="'is-invalid bg-danger'"
                           type="text" class="form-control" id="imageUrl" name="imageUrl"></input>
                    <small th:if="${#fields.hasErrors('imageUrl')}" th:errors="*{imageUrl}" class="text-danger">Image
                        Url error message</small>
                </div>
                <div class="form-group">
                    <label th:text="#{add_model_page_make}"></label>
                    <input class="form-control" th:value="${makeName}" readonly th:errorclass="'is-invalid bg-danger'"
                           type="text" id="makeName" name="makeName"></input>
                    <small th:if="${#fields.hasErrors('makeName')}" th:errors="*{makeName}" class="text-danger">Make
                        name error message</small>
                </div>
                <div class="form-group">
                    <label th:text="#{model_label}"></label>
                    <select th:field="*{modelName}" th:errorclass="'is-invalid bg-danger'" class="form-control"
                            id="modelName" name="modelName">
                        <th:block th:each="model : ${makeModels}">
                            <option th:value="${model.name}" th:text="${model.name}"></option>
                        </th:block>
                    </select>
                    <small th:if="${#fields.hasErrors('modelName')}" th:errors="*{modelName}" class="text-danger">Model
                        name error message</small>
                </div>
                <div class="form-group">
                    <label th:text="#{category_label}">Category</label>
                    <select th:field="*{categoryName}" th:errorclass="'is-invalid bg-danger'" class="form-control"
                            id="categoryName" name="categoryName">
                        <th:block th:each="category : ${allCategories}">
                            <option th:value="${category.name}" th:text="${category.name}"></option>
                        </th:block>
                    </select>
                    <small th:if="${#fields.hasErrors('categoryName')}" th:errors="*{categoryName}" class="text-danger">Category
                        name error message</small>
                </div>
                <div class="form-group">
                    <label th:text="#{price_label}"></label>
                    <input th:field="*{price}" th:errorclass="'is-invalid bg-danger'"
                           type="text" value="0,01" class="form-control" id="price" name="price"></input>
                    <small th:if="${#fields.hasErrors('price')}" th:errors="*{price}" class="text-danger">Price error
                        message</small>
                </div>
                <div class="form-group">
                    <label th:text="#{quantity_label}"></label>
                    <input value="1" th:field="*{quantity}" th:errorclass="'is-invalid bg-danger'"
                           type="number" class="form-control" id="quantity" name="quantity"></input>
                    <small th:if="${#fields.hasErrors('quantity')}" th:errors="*{quantity}" class="text-danger">Quantity
                        error message</small>
                </div>
                <div class="form-group">
                    <label th:text="#{description_label}"></label>
                    <textarea th:field="*{description}" th:errorclass="'is-invalid bg-danger'" rows="3"
                              class="form-control" id="description"
                              name="description"></textarea>
                    <small th:if="${#fields.hasErrors('description')}" th:errors="*{description}" class="text-danger">Description
                        error message</small>
                </div>
                <button type="submit" class="btn btn-primary" value="Add" th:text="#{add_button_label}"></button>
            </form>
        </div>
    </div>
</div>
<footer th:replace="fragments/footer::footer"></footer>
</body>
</html>