<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org/extras/spring-security"
>
<head th:replace="fragments/header::head"></head>
<body>
<header th:replace="fragments/header::header"></header>
<div class="container">
    <main role="main" class="pb-3">

        <link rel="stylesheet" href="/css/carMenu.css">
        <h1 style="text-align:center">Choose from the available makes:</h1>
        <div class="row mt-2 mb-4">
            <th:block th:each="make : ${allMakes}">
                <div class="col-6 col-xl-1 mb-5  mt-5 ml-4 mr-4">
                    <a th:href="@{/parts/addPart/{makeName}(makeName = ${make.name})}">
                        <img style="width:90px;max-width:90px;height:90px;max-height:90px"
                             th:src="${make.imageUrl}"
                             class="card-img-top img-fluid card-image rounded" data-toggle="tooltip"
                             data-placement="bottom" th:title="${make.name}">
                        <p style="text-align:right" th:text="${make.name}"></p></a>
                    <p><a th:href="@{/parts/addPart/{makeName}(makeName = ${make.name})}">
                    </a>
                    </p>
                </div>
            </th:block>
        </div>
    </main>
</div>
<footer th:replace="fragments/footer::footer"></footer>
</body>
</html>