<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org/extras/spring-security"
>
<head th:replace="fragments/header::head"></head>
<body>
<header th:replace="fragments/header::header"></header>
<div class="container">
    <main role="main" class="pb-3">
        <h1 th:if="${myParts.size() <= 0}" th:text="#{my_parts_page_label}"></h1>
        <table th:if="${myParts.size() > 0}" class="table">
            <thead class="thead-dark">
            <tr>
                <th scope="col" th:text="#{make_label}"></th>
                <th scope="col" th:text="#{add_make_page_name}"></th>
                <th scope="col" th:text="#{category_label}"></th>
                <th scope="col" th:text="#{price_label}"></th>
                <th scope="col" th:text="#{quantity_label}">Q</th>
                <th scope="col" th:text="#{info_label}"></th>
                <th scope="col" th:text="#{delete_button_label}"></th>
            </tr>
            </thead>
            <tbody>
            <th:block th:each="part : ${myParts}">
                <tr>
                    <td th:text="${part.make.name}"></td>
                    <td th:text="${part.name}"></td>
                    <td th:text="${part.category.name}"></td>
                    <td th:text="${part.price}"></td>
                    <td th:text="${part.quantity}"></td>
                    <td>
                        <a type="button" class="btn btn-success"
                           th:href="@{/parts/editPart/{id}(id = ${part.id})}" th:text="#{edit_button_label}"></a>
                    </td>
                    <td>
                        <a type="button" class="btn btn-danger"
                           th:href="@{/parts/deletePart/{id}(id = ${part.id})}" th:text="#{delete_button_label}"></a>
                    </td>
                </tr>
            </th:block>
            </tbody>
        </table>
    </main>
</div>

<footer th:replace="fragments/footer::footer"></footer>
</body>
</html>