<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link rel="stylesheet" href="/css/adminPanel.css"/>
    <link rel="stylesheet" href="/css/slideShow.css">
</head>


<ul class="navbar-nav">
    <li class="nav-item">
        <div class="dropdown nav-link text-dark">
            <a class="dropbtn">Admin Panel</a>
            <div class="dropdown-content">
                <a >Add Make</a>
                <a >Edit Makes</a>
                <a >Add Model</a>
                <a >Edit Models</a>
                <a >Edit Parts</a>
            </div>
        </div>
    </li>
    <li class="nav-item">
        <a class="nav-link text-dark"  title="Manage">Account</a>
    </li>
    <li class="nav-item">
        <a class="nav-link text-dark"   title="Manage">My Parts</a>
    </li>
    <li class="nav-item">
        <a class="nav-link text-dark"  title="Manage">My Offers</a>
    </li>
    <li class="nav-item">
        <form class="form-inline">
        <button type="submit" class="nav-link btn btn-link text-dark">Logout</button>
        </form>
    </li>
    <li class="nav-item">
        <a class="nav-link text-dark" >Register</a>
    </li>
    <li class="nav-item">
        <a class="nav-link text-dark" >Login</a>
    </li>
</ul>


<footer class="footer bg-transparent py-2">
    <div class="container-fluid text-center">
        <div class="footer-background footer-text fixed-bottom">
            © 2024 - Car Parts by Pascal Atanasov
        </div>
    </div>
</footer>