<div class="w3-content w3-display-container">
    <img class="mySlides"
         src="https://hips.hearstapps.com/hmg-prod.s3.amazonaws.com/images/ar019-002gu6dmoqp1ek70otfhg1minfrlqlp-1555940486.jpg?crop=0.973xw:0.893xh;0,0.0255xh&resize=980:*"
         style="width:100%">
    <img class="mySlides"
         src="https://hips.hearstapps.com/hmg-prod.s3.amazonaws.com/images/bmw-m240i-xdrive-1548878106.jpg?crop=1.00xw:0.918xh;0,0.0842xh&resize=980:*"
         style="width:100%">
    <img class="mySlides"
         src="https://hips.hearstapps.com/hmg-prod.s3.amazonaws.com/images/2019-chevrolet-camaro-2ss-10at-104-1544548407.jpg?crop=0.781xw:0.780xh;0.131xw,0.220xh&resize=980:*"
         style="width:100%">
    <img class="mySlides"
         src="https://hips.hearstapps.com/hmg-prod.s3.amazonaws.com/images/dg019-252cld542030log8qfi1aglkrd5gcup-1555947016.jpg?crop=1xw:0.9162085623854739xh;center,top&resize=980:*"
         style="width:100%">
    <img class="mySlides"
         src="https://hips.hearstapps.com/hmg-prod.s3.amazonaws.com/images/dg019-052chrr36i6jkaku5afkmp187tmhip2-1556220490.jpg?crop=0.872xw:1.00xh;0.0391xw,0&resize=980:*"
         style="width:100%">
    <img class="mySlides"
         src="https://hips.hearstapps.com/hmg-prod.s3.amazonaws.com/images/19mustangecoboostpp1-02-1555947352.jpg?crop=0.808xw:0.887xh;0.150xw,0.113xh&resize=980:*"
         style="width:100%">
    <img class="mySlides"
         src="https://hips.hearstapps.com/hmg-prod.s3.amazonaws.com/images/img-1236-1555953308.jpg?crop=1.00xw:0.918xh;0,0.0842xh&resize=980:*"
         style="width:100%">
    <img class="mySlides"
         src="https://hips.hearstapps.com/hmg-prod.s3.amazonaws.com/images/img-6151-1555953404.jpg?crop=1.00xw:0.918xh;0,0.0842xh&resize=980:*"
         style="width:100%">
    <img class="mySlides"
         src="https://hips.hearstapps.com/hmg-prod.s3.amazonaws.com/images/large-30985-2019velosterr-specturbo-1555953143.jpg?crop=0.929xw:0.852xh;0,0&resize=980:*"
         style="width:100%">
    <img class="mySlides"
         src="https://hips.hearstapps.com/hmg-prod.s3.amazonaws.com/images/large-31042-2019velostern-1555953143.jpg?crop=1xw:0.9166666666666666xh;center,top&resize=980:*"
         style="width:100%">
    <img class="mySlides"
         src="https://hips.hearstapps.com/hmg-prod.s3.amazonaws.com/images/jp019-051wr27r1bh8m85k3j35lhg2i0l0kch-1555953558.jpg?crop=1xw:0.9166666666666666xh;center,top&resize=980:*"
         style="width:100%">
    <img class="mySlides"
         src="https://hips.hearstapps.com/hmg-prod.s3.amazonaws.com/images/15106-2020-stinger-gts-1555953830.jpg?crop=0.825xw:0.755xh;0.148xw,0.168xh&resize=980:*"
         style="width:100%">
    <img class="mySlides"
         src="https://hips.hearstapps.com/hmg-prod.s3.amazonaws.com/images/2019-mazda-mx-5-miata-30th-anniversary-104-1549483389.jpg?crop=0.908xw:0.908xh;0.0918xw,0.0919xh&resize=980:*"
         style="width:100%">
    <img class="mySlides"
         src="https://hips.hearstapps.com/hmg-prod.s3.amazonaws.com/images/2019-nissan-370z-heritage-edition-22-1548865607.jpg?crop=0.974xw:1.00xh;0.0255xw,0.00286xh&resize=980:*"
         style="width:100%">
    <img class="mySlides"
         src="https://hips.hearstapps.com/hmg-prod.s3.amazonaws.com/images/9-2019-wrx-premium-1555954321.jpg?crop=0.656xw:0.540xh;0.0272xw,0.0618xh&resize=980:*"
         style="width:100%">
    <img class="mySlides"
         src="https://hips.hearstapps.com/hmg-prod.s3.amazonaws.com/images/5-2019-wrx-sti-1556114877.jpg?crop=0.920xw:0.844xh;0.0799xw,0.0867xh&resize=768:*&keepGifs=1"
         style="width:100%">
    <img class="mySlides"
         src="https://hips.hearstapps.com/hmg-prod.s3.amazonaws.com/images/2019-toyota-86-trd-special-edition-37-1d54c58de2a151720562c3f0bc51ab6f16eca782-1552656602.jpg?crop=1xw:0.863831788257423xh;center,top&resize=768:*&keepGifs=1"
         style="width:100%">
    <img class="mySlides"
         src="https://hips.hearstapps.com/hmg-prod.s3.amazonaws.com/images/2020-tacoma-trd-pro-07-a931a5f28df34dc30b46e9cf839d01db1a5d30f2-1553870934.jpg?crop=1.00xw:0.865xh;0,0.113xh&resize=768:*&keepGifs=1"
         style="width:100%">
    <img class="mySlides"
         src="https://hips.hearstapps.com/hmg-prod.s3.amazonaws.com/images/2019-gti-rabbit-edition-large-9336-1552657111.jpg?crop=1xw:1xh;center,top&resize=768:*&keepGifs=1"
         style="width:100%">
    <img class="mySlides"
         src="https://hips.hearstapps.com/hmg-prod.s3.amazonaws.com/images/2019-volkswagen-jetta-gli-static-1554925025.jpg?crop=0.940xw:0.942xh;0,0.0585xh&resize=768:*&keepGifs=1"
         style="width:100%">

    <button class="w3-button w3-black w3-display-left"  th:attr="onclick=|plusDivs(-1)|">
        &#10094;
    </button>
    <button class="w3-button w3-black w3-display-right" th:attr="onclick=|plusDivs(1)|">
        &#10095;
    </button>
    <script src="/js/slideShow.js"></script>
</div>