<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org/extras/spring-security"
>
<head th:replace="fragments/header::head"></head>
<body>
<header th:replace="fragments/header::header"></header>
<div class="container">
    <main role="main" class="pb-3">
        <h1 th:if="${myOffers.size() <= 0}" th:text="#{my_offers_page_label}"></h1>
        <table th:if="${myOffers.size() > 0}" class="table">
            <thead class="thead-dark">
            <tr>
                <th scope="col" th:text="#{my_offers_part_name}"></th>
                <th scope="col" th:text="#{my_offers_buyer_name}"></th>
                <th scope="col" th:text="#{price_label}"></th>
                <th scope="col" th:text="#{quantity_label}"></th>
                <th scope="col" th:text="#{info_label}"></th>
            </tr>
            </thead>
            <tbody>
            <th:block th:each="offer : ${myOffers}">
                <tr>
                    <td th:text="${offer.part.name}"></td>
                    <td th:text="${offer.name}"></td>
                    <td th:text="${offer.part.price}"></td>
                    <td th:text="${offer.part.quantity}"></td>
                    <td>
                        <a type="button" class="btn btn-primary"
                           th:href="@{/offers/info/{id}(id = ${offer.id})}" th:text="#{info_label}"></a>
                    </td>
                </tr>
            </th:block>
            </tbody>
        </table>
    </main>
</div>

<footer th:replace="fragments/footer::footer"></footer>
</body>
</html>