<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org/extras/spring-security"
>
<head th:replace="fragments/header::head"></head>
<body>
<header th:replace="fragments/header::header"></header>
<div class="container">
    <main role="main" class="pb-3">


        <div class="text-center">
            <h1 class="display-4" th:text="#{create_offer_page_label}"></h1>
        </div>


        <div class="row">

            <div class="card" style="width: 18rem; margin-bottom: 100px">
                <img class="card-img-top" th:src="${partUrl}">
                <div class="card-body">
                    <h5 class="card-title" th:text="${partName}"></h5>
                    <p class="card-text" th:text="${partDescription}"></p>
                </div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item" th:text="|#{quantity_label}: ${partQuantity}|"></li>
                    <li class="list-group-item" th:text="|#{price_label}: ${partPrice}$|"></li>
                </ul>
            </div>

            <div style="width: 50rem; margin-bottom: 100px;margin-left:50px">
                <form method="post">
                    <div class="form-row">
                        <div class="form-group col-md-6">
                            <label for="BuyerName" th:text="#{add_make_page_name}"></label>
                            <input class="form-control" readonly="" type="text"
                                   id="BuyerName" name="BuyerName" th:value="${offerName}">
                            <span class="small text-danger field-validation-valid" data-valmsg-for="BuyerName"
                                  data-valmsg-replace="true"></span>
                        </div>
                        <div class="form-group col-md-6">
                            <label for="Email" th:text="#{login_page_enter_email}"></label>
                            <input class="form-control" readonly="" type="text"
                                   id="Email" name="Email" th:value="${offerEmail}">
                            <span class="small text-danger field-validation-valid" data-valmsg-for="Email"
                                  data-valmsg-replace="true"></span>
                        </div>
                        <div class="form-group col-md-6">
                            <label for="Phone" th:text="#{create_offer_page_phone}"></label>
                            <input class="form-control" readonly="" type="text"
                                   id="Phone" name="Phone" th:value="${offerPhone}">
                            <span class="small text-danger field-validation-valid" data-valmsg-for="Phone"
                                  data-valmsg-replace="true"></span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="Address" th:text="#{create_offer_page_address}"></label>
                        <input class="form-control" readonly="" type="text"
                               id="Address" name="Address" th:value="${offerAddress}">
                        <span class="small text-danger field-validation-valid" data-valmsg-for="Address"
                              data-valmsg-replace="true"></span>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-md-6">
                            <label for="City" th:text="#{create_offer_page_city}"></label>
                            <input class="form-control" readonly="" type="text"
                                   id="City" name="City" th:value="${offerCity}">
                            <span class="small text-danger field-validation-valid" data-valmsg-for="City"
                                  data-valmsg-replace="true"></span>
                        </div>
                        <div class="form-group col-md-2">
                            <label for="Zip" th:text="#{create_offer_page_zip}"></label>
                            <input class="form-control" readonly="" type="text"
                                   id="zip" name="zip" th:value="${offerZip}">
                            <span class="small text-danger field-validation-valid" data-valmsg-for="Zip"
                                  data-valmsg-replace="true"></span>
                        </div>
                    </div>
                    <a type="button" class="btn btn-success" a=""
                       th:href="@{/offers/sell/{id}(id = ${offerId})}" th:text="#{Sell_button_label}"></a>
                    <a type="button" class="btn btn-danger float-right" a=""
                       th:href="@{/offers/decline/{id}(id = ${offerId})}" th:text="#{Decline_button_label}"></a>
                </form>
            </div>
        </div>
    </main>
</div>

<footer th:replace="fragments/footer::footer"></footer>
</body>
</html>