<head th:replace="fragments/header::head"></head>
<body>
<header th:replace="fragments/header::header"></header>
<div class="container">
    <main role="main" class="pb-3">
        <div class="container">
            <div class="row">
                <div class="offset-md-2 col-md-8 com-sm-12">
                    <h2 class="heading-margin" text-center="" th:text="#{account_admin_header}"></h2>
                    <p class="heading-margin" text-center="" th:text="#{account_admin_info}"></p>
                    <form action="/identity/account/manage/becomeAdmin" method="post" th:object="${makeAdminDTO}">
                        <div class="form-group">
                            <label th:text="#{account_admin_name}"></label>
                            <input th:placeholder="#{account_admin_placeholder}" th:field="*{username}"
                                   th:errorclass="bg-danger"
                                   type="text" class="form-control" id="username" name="username"/>
                            <small th:if="${#fields.hasErrors('username')}" th:errors="*{username}" class="text-danger">Username
                                error message</small>
                        </div>
                        <button type="submit" class="btn btn-primary" value="Become"
                                th:text="#{account_admin_button_label}"></button>
                    </form>
                </div>
            </div>
        </div>
    </main>
</div>
<footer th:replace="fragments/footer::footer"></footer>
</body>