<head th:replace="fragments/header::head"></head>
<body>
<header th:replace="fragments/header::header"></header>
<div class="container">
    <main role="main" class="pb-3">
        <div class="container">
            <div class="row">

                <div class="col-1 mt-5">
                    <img class="card-img-top" style="width: 90px; max-width: 90px; height: 90px; max-height: 90px "
                         th:src="${makeUrl}" th:alt="${makeName}">
                    <div class="card-body">
                        <p style="text-align:right" th:text="${makeName}"></p>
                    </div>
                </div>

                <div class="offset-md-2 col-md-8 com-sm-12">
                    <h2 class="heading-margin" text-center="" th:text="#{edit_make_page_label}"></h2>
                    <form method="get" action="/admin/editMake" th:object="${addMakeDTO}">
                        <input th:value="${makeId}" id="id" name="id" hidden readonly>
                        <div class="form-group">
                            <label for="Name" th:text="#{add_make_page_name}"></label>
                            <input th:value="${makeName}"
                                   th:errorclass="'is-invalid bg-danger'"
                                   type="text" class="form-control" id="name" name="name"></input>
                            <small th:if="${#fields.hasErrors('name')}" th:errors="*{name}" class="text-danger">Name
                                error
                                message</small>
                        </div>
                        <div class="form-group">
                            <label for="ImageUrl" th:text="#{add_make_page_imageURL}"></label>
                            <input th:value="${makeUrl}"
                                   th:errorclass="'is-invalid bg-danger'"
                                   type="text" class="form-control" id="imageUrl" name="imageUrl"></input>
                            <small th:if="${#fields.hasErrors('imageUrl')}" th:errors="*{imageUrl}" class="text-danger">Image
                                Url error
                                message</small>
                        </div>
                        <button type="submit" class="btn btn-success" value="Add"
                                th:text="#{edit_button_label}"></button>
                    </form>
                </div>
            </div>
        </div>
    </main>
</div>
<footer th:replace="fragments/footer::footer"></footer>
</body>