<head th:replace="fragments/header::head"></head>
<body>
<header th:replace="fragments/header::header"></header>
<div class="container">
    <main role="main" class="pb-3">

        <h1 th:if="${models.size() <= 0}" th:text="#{edit_models_page_label}"></h1>
        <table th:if="${models.size() > 0}" class="table">
            <thead class="thead-dark">
            <tr>
                <th scope="col" th:text="#{edit_makes_make_name}"></th>
                <th scope="col" th:text="#{edit_makes_model_name}"></th>
                <th scope="col" th:text="#{edit_button_label}"></th>
                <th scope="col" th:text="#{delete_button_label}"></th>
            </tr>
            </thead>
            <tbody>
            <th:block th:each="model : ${models}">
                <tr>
                    <td th:text="${model.make.name}"></td>
                    <td th:text="${model.name}"></td>
                    <td>
                        <a type="button" class="btn btn-success" a=""
                           th:href="@{/admin/editModel/{id}(id = ${model.id})}" th:text="#{edit_button_label}"></a>
                    </td>
                    <td>
                        <a type="button" class="btn btn-danger" a=""
                           th:href="@{/admin/deleteModel/{id}(id = ${model.id})}" th:text="#{delete_button_label}"></a>
                    </td>
                </tr>
            </th:block>
            </tbody>
        </table>
    </main>
</div>

<footer th:replace="fragments/footer::footer"></footer>
</body>